{% extends "::base.html.twig" %}

{% block title %}AppBundle:Basket:index{% endblock %}

{% block body %}

    {#aby wyświetlić zapisaną notyfikacje do szablonu index.html.twig należy dodać taki kod:  #}
    {% for flashMessage in app.session.flashbag.get('notice') %}  
        <div class="flash-notice alert alert-success"> {{ flashMessage }}</div>  
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}  
        <div class="flash-notice alert alert-danger"> {{ flashMessage }}</div>  
    {% endfor %}
    
    <h1>Koszyk</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>nazwa</th>
                <th>cena</th>
                <th>opis</th>
                <th>ilosc</th>
                <th>Akcje(usun)</th>
            </tr></thead>
        <tbody>
            {% for product in products_in_basket %}
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.desc}}</td>
                    <td>{{product.ilosc}}</td>
                    <td>
                    <a href="{{path('basket_remove', {'id': product.id})}}" class="btn btn-warning">Usun z koszyka</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% if products_in_basket %}
            <a href="{{path('basket_clear')}}" class="btn btn-danger pull-right">Wyczysc</a>
{% endif %}

            {% endblock %}
